@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
  position:relative;
  min-width: 320px;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  display: grid;
  grid-template-areas: 
    "map map map"
    ". filters .";
  grid-template-columns: 15% auto 15%;
  grid-template-rows: auto auto;
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: 50%;
    box-sizing: border-box;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map-container {
  grid-area: map;
}
#map {
  height: 500px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
#filters {
  grid-area: filters;
}
.filter-options {
  display: grid;
  grid-template-areas: 
    "title select-neighbour select-cuisine";
  grid-template-columns: 25% 30% 30%;
  justify-items: center;
  justify-content: center;
  grid-template-rows: auto;
  grid-column-gap: 5%;
  width: 100%;
  height: 60px;
  background-color: #3397DB;
  align-items: center;
}
.filter-options h2 {
  grid-area: title;
  display: inline;
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 40% 0 0;
  text-align: left;
}
.filter-options select {
  grid-area: select;
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 100%;
}
#neighborhoods-select {
  grid-area: select-neighbour;
}
#cuisines-select {
  grid-area: select-cuisine;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0 auto;
  padding: 30px 15px 60px;
  text-align: center;
}
#restaurants-list li {
  display: inline-grid;
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 20px 20px 20px;
  height: 500px;
  padding: 0 30px 25px;
  text-align: left;
  width: 300px;
  box-sizing: border-box;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside #maincontent {
  display: grid;
  grid-template-areas: 
    "restaurant map"
    "reviews map";
  grid-template-columns: 45% 50%;
  grid-column-gap: 5%;

}
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  grid-area: map;
  background: blue none repeat scroll 0 0;
  height: 100%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
  box-sizing: border-box;
}
#restaurant-name {
  grid-area: name;
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  text-align: center;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
  grid-area: img;
	width: 90%;
}
#restaurant-address {
  grid-area: address;
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  grid-area: cuisine;
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
  box-sizing: border-box;
  width: 100%;
}
#restaurant-container {
  grid-area: restaurant;
  display: grid;
  grid-template-areas:
    "name name"
    "img hours"
    "cuisine hours"
    "address hours";
  grid-template-columns: 45% 50%;
  grid-column-gap: 5%;
}
#reviews-container {
  grid-area: reviews;
  padding: 30px 40px 80px;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
    border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours {
  grid-area: hours;
}
#restaurant-hours td {
  color: #666;
}

/* --------- Media queries --------- */

@media screen and (max-width: 1646px) {
  #maincontent {
    grid-template-columns: 10% auto 10%;
  }
}

@media screen and (max-width: 1439px) {
  #maincontent {
    grid-template-columns: 5% auto 5%;
  }
}

@media screen and (max-width: 1279px) {
  #restaurants-list li {
    width: 300px;
    height: 480px;
  }
}
@media screen and (max-width: 1070px) {
  #restaurant-container {
    grid-template-areas: 
      "name name name name "
      "img img address address "
      "cuisine cuisine . ."
      "hours hours hours hours";
    grid-template-columns: 30% 25% 20% 15% ;
    grid-template-rows: auto auto auto auto;
    grid-column-gap: 10px;
    padding-right: 0;
  }
  #reviews-list li {
    width: 100%;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 980px) {
  #restaurants-list li {
    width: 300px;
  }
  /* Restaurant Info page*/
  #restaurant-img {
    width: 100%;
  }
  #restaurant-cuisine {
    width: 100%;
  }
  #restaurant-hours td {
    font-size: 11pt;
  }
  #reviews-list li p {
    font-size: 11pt;
  }
}

@media screen and (max-width: 800px) {
  /* Main page */
  nav {
    height: 60px;
  }
  nav h1 a {
    font-size: 13pt;
  }
  #maincontent {
    grid-template-areas: 
      "map"
      "filters";
    grid-template-columns: auto;
  }
  .filter-options {
    height: 80px;
  }
  .filter-options h2 {
    font-size: 1.1rem;
    margin-right: 0;
  }
  .filter-options select {
    height: 40px;
    font-size: 13pt;
  }
  #restaurants-list li {
    height: 520px;
  }
  #restaurants-list li h1 {
    font-size: 16pt;
  }
  #restaurants-list p {
    font-size: 13pt;
  }
  #restaurants-list li a {
    font-size: 12pt;
  }
  #footer {
    font-size: 8pt;
  }
  /* Restaurant Info page*/
  #breadcrumb {
    width: 100%;
  }
  .inside #maincontent {
    grid-template-areas: 
      "restaurant"
      "map"
      "reviews";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-column-gap: 0;
    min-width: 100%;
  }
  .inside #map-container {
    display: block;
    position: static;
    width: 100%;
    height: 45vh;
  }
  .inside #map-container {
    height: 55vh;
  }
  #restaurant-container {
    padding: 156px 40px 30px;
    grid-template-areas: 
      "name name"
      "img hours"
      "cuisine hours"
      "address hours";
    grid-template-columns: 45% 50%;
    grid-column-gap: 5%;
  }
  #restaurant-name {
    font-size: 17pt;
  }
  #restaurant-cuisine {
    font-size: 14pt;
  }
  #restaurant-hours td {
    font-size: 12pt;
  }
  #reviews-container h2 {
    font-size: 20pt;
  }
  #reviews-list li {
    width: 95%;
  }
  .inside #footer {
    width: 100%;
  }
}
@media screen and (max-width: 560px) {
  nav {
    height: 60px;
  }
  nav h1 a {
    font-size: 13pt;
  }
  #breadcrumb {
    padding: 5px 40px 10px;
  }
  #breadcrumb li {
    font-size: 8pt;
  }
  #restaurant-container {
    grid-template-areas: 
      "name name"
      "img address"
      "cuisine address"
      "hours hours";
    padding-top: 140px;
  }
  #restaurant-cuisine {
    font-size: 12pt;
  }
  #restaurant-hours {
    margin-top: 20px;
  }
}
@media screen and (max-width: 425px) {
  .filter-options {
    height: 100px;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 3.33%;
  }
  #restaurants-list .restaurant-img {
    margin: 0 auto;
  }
  #restaurants-list li h1 {
    width: 80%;
    margin: 20px auto 0;
    text-align: center;

  }
  #restaurants-list p {
    text-align: center;
  }
  #restaurants-list li a {
    font-size: 11pt;
    display: block;
    width: 40%;
    margin: 20px auto 0;
  }
  /* Restaurant Info page */
  #restaurant-container {
    grid-template-areas: 
      "name name name"
      ". img ."
      ". cuisine ."
      ". address ."
      ". hours .";
    grid-template-columns: 10% 80% 10%;
    grid-column-gap: 0;
  }
}
